:root
  --main-green: #3D4F48
  --bg-color: #EFF3F6
  --main-font: 'Montserrat', sans-serif

*,
*::after,
*::before
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-size: 1rem
  font-family: var(--main-font)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #000
  background-color: var( --bg-color )
  @apply font-sans

#main-content
  @apply mt-[112px]