@keyframes sliding-left
  0%
    transform: translateX( 0% )
  100%
    transform: translateX( -100% )

.sliding-text-content
  .sliding-text
    animation: 400s sliding-left infinite normal linear

.section-sub-pages
  .sub-page-link
    @apply relative block overflow-hidden border-x border-solid border-black lg:h-[400px] xl:h-[600px]
    z-index: 2
    &--image
      @apply lg:h-full
      z-index: 1
    &--title-wrapper
      @apply relative flex justify-between items-stretch h-[65px] pl-5 border-b border-solid border-t lg:border-t-0 border-black transition-all duration-500 ease-in-out bg-white overflow-hidden
      z-index: 4
      h2
        @apply self-center m-0 transition-all duration-300 ease-in-out opacity-100 translate-y-0 whitespace-nowrap text-ellipsis overflow-hidden
    &--icon
      @apply relative w-[65px] h-full flex justify-center items-center border-l border-solid border-black bg-bg-color transition-all duration-300 ease-in-out bg-white
      svg
        path
          fill: #fff
    &--top-of-jura
      .sub-page-link--icon
        background-color: var(--main-blue)
    &--hotel
      .sub-page-link--icon
        background-color: var(--main-red)
    &--szl
      .sub-page-link--icon
        background-color: var(--main-green)
    &--overlay
      @apply lg:absolute top-0 left-0 w-full h-full lg:transition-all lg:duration-500 lg:ease-in-out lg:translate-y-full text-sm xl:text-lg bg-bg-color flex flex-col lg:justify-center px-8 pt-16 lg:pt-32 pb-16 xl:pl-16 xl:pr-10 xl:py-0
      z-index: 3
    &:hover
      .sub-page-link--title-wrapper
        h2
          @apply translate-x-full opacity-0
      .sub-page-link--overlay
        @apply translate-y-0
      .sub-page-link--title-overlay
        @apply translate-x-0 opacity-100